{% extends 'main/base.html' %}

{% block title %}
    Востребованность
{% endblock %}
{% load  static %}
{% block css %}
    <link rel='stylesheet' href="{% static 'main/css/stylesheet.css' %}">
{% endblock %}

{% block content %}
    <h1>Анализ вакансий Devops относительно других вакансий в IT</h1>
    <div class="devops">
        <h3>Динамика количества вакансий по годам</h3>
        <h3>Динамика количества вакансий по годам для Devops</h3>
    </div>
    <div class="devops">
    {% block images %}
        <img src="{% static 'main/images/demand/number_all.png' %}" width="550px" alt="Динамика количества вакансий для всех профессий в It">
        <img src="{% static 'main/images/demand/number_job.png' %}" width="550px" alt="Динамика количества вакансий DevOps ">
    </div>
        <table>
        <div class="devops">
            <h3>Динамика количества вакансий по годам</h3>
            <h3>Динамика количества вакансий по годам для Devops</h3>
        </div>

        <thead>
            <tr>
                <th>Год</th>
                <th>Количество вакансий всех IT профессий</th>
                <th>Hfpltkbntkm</th>
                <th>Год</th>
                <th>Количество вакансий Devops инженеров</th>
            </tr>
        </thead>
        {% for row in number_stat %}
        <tr>
            <td>{{ row.year }}</td>
            <td>{{ row.number }}</td>
            <td></td>
            <td>{{ row.year }}</td>
            <td>{{ row.number_by_job }}</td>
        </tr>
        {% endfor %}
    </table>
            <div class="devops">
        <h3>Динамика уровня зарплат по годам</h3>
        <h3>Динамика уровня зарплат по годам для Devops</h3>
    </div>
    <div class="devops">
        <img src="{% static 'main/images/demand/salary_all.png' %}" width="550px" alt="Динамика уровня зарплат по годам">
        <img src="{% static 'main/images/demand/salary_job.png' %}" width="550px" alt="Динамика уровня зарплат по годам для Devops">
    </div>
<table>
        <div class="devops">
            <h3>Динамика уровня зарплат по годам</h3>
            <h3>Динамика уровня зарплат по годам для Devops</h3>
        </div>

        <thead>
            <tr>
                <th>Год</th>
                <th>Средняя зарплата всех IT профессий</th>
                <th>Hfpltkbntkm</th>
                <th>Год</th>
                <th>Средняя зарплата Devops инженеров</th>
            </tr>
        </thead>
        {% for row in salary_stat %}
        <tr>
            <td>{{ row.year }}</td>
            <td>{{ row.salary }} &#8381</td>
            <td></td>
            <td>{{ row.year }}</td>
            <td>{{ row.salary_by_job }} &#8381</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
{% endblock %}
