{% extends 'main/base.html' %}

{% block title %}
    География
{% endblock %}
{% load  static %}
{% block css %}
    <link rel='stylesheet' href="{% static 'main/css/stylesheet.css' %}">
{% endblock %}

{% block content %}
    <h1>Анализ географии вакансий в сфере IT</h1>
    <div class="devops">
    <h2>Уровень зарплат по городам</h2>
    <h2>Доля вакансий по городам</h2>
    </div>
    <div class="devops">
    {% block images %}
    <img src="{% static 'main/images/geo/salary.png' %}" width="540px" alt="Уровень зарплат по городам">
    <img src="{% static 'main/images/geo/number.png' %}" width="540px" alt="Доля вакансий по городам">
    </div>
    <div class="devops">
        <h2>Уровень зарплат по городам</h2>
        <h2>Доля вакансий по городам</h2>
    </div>
    <div class="devops">
        <table>
        <thead>
            <tr>
                <th>Город</th>
                <th>Средняя зарплата</th>
            </tr>
        </thead>
        {% for row in salary_stat %}
        <tr>
            <td>{{ row.area }}</td>
            <td>{{ row.salary }}</td>
        </tr>
        {% endfor %}
    </table>
            <table>
        <thead>
            <tr>
                <th>Город</th>
                <th>Доля вакансий</th>
            </tr>
        </thead>
        {% for row in share_number_stat %}
        <tr>
            <td>{{ row.area }}</td>
            <td>{{ row.stake }}%</td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
{% endblock %}
