{% extends 'main/base.html' %}

{% block title %}
    Главная страница
{% endblock %}
    {% load  static %}
{% block css %}
    <link rel='stylesheet' href="{% static 'main/css/stylesheet.css' %}">
{% endblock %}
{% block content %}
    <h1>Профессия Devops-инженер</h1>
    {% block images %}
        <h2>Кто такой Devops-инженер?</h2>
        <ul>
        <li>на этапе планирования помогает определиться с архитектурой приложения</li>
        <li>мониторит работоспособность всех сред и инструментов разработки</li>
        <li>автоматизирует определенные стадии создания продукта</li>
        </ul>
    <div class="devops">
        <text>DevOps-инженер занимается внедрением методологии DevOps. Он синхронизирует все этапы создания программного продукта: от написания кода до тестирования и выпуска приложения. Такой специалист контролирует отделы разработки и администрирования плюс автоматизирует выполнение их задач, внедряя различные программные инструменты.
Особенность DevOps-инженера в том, что он совмещает множество профессий: админа, разработчика, тестировщика и менеджера.
DevOps-инженер отвечает за любую автоматизацию задач, связанных с настройкой и развертыванием приложений. На его плечи ложится и мониторинг программного обеспечения. Для решения этих задач он применяет различные системы управления конфигурациями, решения виртуализации и облачные инструменты для балансировки ресурсов.
</text>
        <img src="{% static 'main/images/home/devops.png' %}" width="550px" alt="DevOps схема">
    </div>
    <h2>Кто нанимает?</h2>
        <div class="devops">
        <img src="{% static 'main/images/home/companies.png' %}" width="150px" alt="Компании">
    <text>
        <p>DevOps-инженеры могут принести пользу любой организации, чья деятельность связана с разработкой приложений или управлением большим количеством серверов. DevOps-инженеров нанимают ИТ-гиганты вроде Amazon, Adobe и Яндекс. Еще они работают на Netflix, Walmart и Etsy.</p>
<p>Не нанимают DevOps-инженеров только стартапы. Их задача — выпустить минимально жизнеспособный продукт, чтобы проверить новую идею. В большинстве случаев стартапы могут обойтись без DevOps</p>
    </text>
        </div>
    <h2>Как стать специалистом по DevOps?</h2>
    <text><p>DevOps — это относительно новое направление в IT, поэтому устоявшегося перечня требований к DevOps-инженерам нет. В вакансиях среди требований на эту должность можно встретить как навыки администрирования Debian и CentOS, так и умение работать с дисковыми RAID-массивами.</p>
<p>На основании этого можно сделать вывод, что прежде всего DevOps-инженер должен иметь хороший технический кругозор. Такому человеку важно постоянно изучать новые инструменты и технологии.
Проще всего стать DevOps-инженером будет сисадмину или разработчику. У них уже есть ряд навыков, которые нужно просто развить. Главная задача — подтянуть минимальный набор знаний по DevOps, понять, как работать с инструментами автоматизации и заполнить пробелы в навыках администрирования, программирования и виртуализации.</p>
    </text>
     {% endblock %}
{% endblock %}